<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">🏢 Korp ERP</a>
    
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/produtos" routerLinkActive="active">📦 Estoque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/notas-fiscais" routerLinkActive="active">🧾 Faturamento</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>